#Options -MultiViews
RewriteEngine On

# Note: specific routing must be before default routing
# or they will be routed to default routing handler

# api routing: routing specifically for api/ endpoint 
RewriteRule %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} [A-Za-z0-9]*/api/+
RewriteRule ^ api.php [QSA,L]

# default routing: routing for anything else
RewriteRule %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
