#Options -MultiViews
RewriteEngine On


#routing specifically for api/ endpoint 
RewriteRule %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} [A-Za-z0-9]*/api/+
RewriteRule ^ api.php [QSA,L]

#routing for anything else
RewriteRule %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
