#body {
    position: relative;
    width: 80%;
    margin: auto;

    margin-top: 60px;
    height: auto;
    overflow-y: hidden;

    display: flex;
}

#body .heading {
    color: #fff;
    font-size: 60px;
    font-family: 'Old Standard TT';
}

#body .heading-2 {
    color: aliceblue;
    font-size: 40px;
    font-weight: normal;
    font-family: 'Vidaloka';
}

/* styling for forms */
.form {
    font-family: roboto;
    display: block;
    width: 200%;
}

.form .input {
    min-height: 40px;
    display: block;
}

.form .input input {
    border: 0;
    border-bottom: 2px solid #00000023;
    /* border-radius: 50px; */
    background: transparent;
    margin: 10px;
    padding: 10px 20px;
    line-height: 35px;
    font-size: 20px;

    transition: all 0.2s linear;
}

.form .input input:hover {
    border-bottom: 2px solid #0972b462;
}

.form .input input:focus {
    border-bottom: 2px solid #0972b4;
}
