.card {
    position: relative;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;

    border-radius: 40px;
    padding: 20px;
    min-height: 400px;
    width: 400px;
    background: aliceblue;

    height: auto;
    overflow: hidden;
    display: flex;
}

.card .question {
    color: #333;
    font-size: 30px;
    font-family: 'roboto';
}

.card .bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.card .bottom-bar > div {
    width: 50%;
    float: left;
}

.card .bottom-bar .location {
    font-size: 25px;
    font-family: 'Charmonman';
}

.card .ans-button a {
    color: #0972b4;
    border: 3px solid #0972b4;
    font-size: 25px;
    padding: 10px 50px;
    border-radius: 40px;
    font-family: 'Amatic SC';

    transition: all 0.2s linear;
}

.card .ans-button a:hover {
    color: aliceblue;
    background-color: #0972b4;
}

/* serif fonts */
/* Alegreya|EB+Garamond|Old+Standard+TT|Playfair+Display|Vidaloka|Domine|Arapye|Cantata+One|Arbutus+Slab */

/* sans */
/* family=Josefin+Sans:300|Open+Sans|Raleway|Roboto */

/* handwriting */
/* Amatic+SC|Charmonman|Parisienne|Sacramento */

/* display fonts */
/* Cinzel+Decorative|Fredericka+the+Great|Poiret+One|Unica+One|Abril+Fatface */
