header {
    min-height: 30px;
    height: auto;
    overflow-y: hidden;
}

#navbar {
    position: relative;
    float: right;
    right: 40px;
    /* background: #fff; */
}

.nav-item {
    position: relative;
    padding: 20px;
    float: left;
}

.nav-item a {
	position: relative;
	display: inline-block;
	outline: none;
	text-decoration: none;
	letter-spacing: 1px;
	/* color: #0972b4; */
    /* color: #6f6; */
    color: #000;
    font-size: 30px;
    font-family: 'raleway';
    font-weight: bolder;
}

.nav-item a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
    max-width: 0;
	color: aqua;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
	white-space: nowrap;
}

.nav-item a:hover::before,
.nav-item a:focus::before {
    max-width: 50%;
}

#navbar .ans-button a {
    color: aliceblue;
    border: 3px solid aliceblue;
    font-size: 25px;
    padding: 0px 20px;
    border-radius: 40px;
    font-family: 'Amatic SC';

    transition: all 0.2s linear;
}

#navbar .ans-button a:hover {
    color: #0972b4;
    background-color: aliceblue;
}

#navbar .ans-button a:hover::before,
#navbar .ans-button a:focus::before {
    max-width: 0;
}
