@import './header.css';
@import './body.css';
@import './panels.css';
@import './footer.css';

body {
    margin: 0;
    background: #fff;
    background: linear-gradient(90deg, rgba(150,0,0,0.4), rgba(0,0,150,0.5));
    font-family: 'Roboto';
}

a { text-decoration: none; cursor: pointer; }

.underlink-link { color: gray; transition: all 0.1s linear; }
.underlink-link:hover { color: blue; text-decoration: underline; }

/* .link-text { font-size: 1.2em; } */

/* font classes */
.font-display { font-family: 'Charmonman' !important; }
.font-button-link { font-family: 'Amatic SC' !important; }
.font-heading { font-family: 'Old Standard TT' !important; }
.font-heading-2 { font-family: 'Vidaloka' !important; }
.font-para { font-family: 'Roboto' !important; }
